@use "../common" as *;

html {
  font-size: 100%;
}

body {
  font-family: $font-family-overpass;
  font-weight: $font-weight-regular;
  color: $color-primary-orange;
  line-height: 1.33333;
  margin: 0;
}
