@use "assets/styles/common" as *;
@use "assets/styles/main.scss" as *;

.App {
  height: 100vh;
  .card {
    background-color: $color-neutral-darkblue;

    &__svg {
      color: $color-neutral-lightgrey;
      background-color: $color-neutral-grey;
      height: 42px;
      width: 42px;
    }

    h1 {
      color: $color-neutral-white;
      font-size: $font-size-24;
    }

    p {
      color: $color-neutral-lightgrey;
      line-height: $line-height-24;
    }

    &__rating {
      &__number {
        color: $color-neutral-lightgrey;
        background-color: $color-neutral-grey;
        height: 42px;
        width: 42px;

        &:hover {
          background-color: $color-primary-orange;
          transition: all 0.5s ease-in-out;
          color: $color-neutral-white;
          cursor: pointer;
        }
      }

      &__statement {
        color: $color-primary-orange !important;
        background-color: $color-neutral-grey;
      }
    }

    &__submit {
      background-color: $color-primary-orange;
      color: $color-neutral-white;
      border: none;
      font-family: $font-family-overpass;
      font-weight: $font-weight-bold;
      letter-spacing: 2px;

      &:hover,
      &:active,
      &:focus {
        background-color: $color-neutral-white;
        transition: all 0.5s ease-in-out;
        color: $color-primary-orange;
        cursor: pointer;
      }
    }
  }

  footer {
    color: $color-neutral-white;
    text-align: center;
  }
}
